<html>

<head>
	<title>Test Page</title>

	<link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/scripts/bootstrap-material-design/dist/css/bootstrap-material-design.css">
	<link rel="stylesheet" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-light">
	{{!-- Begin here (or replace this with any static code already written). --}}


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" style="text-align:center"><h1>hApp</h1></a>
		</div>
	</nav>

	<div class="card" style="text-align:center; margin-top:1; margin-left:0; margin-right:0">
		<img class="card-img-top" src="http://lorempixel.com/500/500/people"{
			border:1px solid #ddd; // Gray border
			height:200px;
		}>
		<div class="card-body">
			<h5 class="card-text">Pin Name</h5>
			<h5 class="card-text">Distance</h5>
			<p class="card-text">Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidant, sunt in culpa qui officia deserunt.</p>
		</div>
	</div>
	<div class="container" style="text-align:center;">
		
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<a href="#event"><button type="button" class="btn btn-secondary"{
					border-radius:50%;
				}>Like</button></a>
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<a href="#event"><button type="button" class="btn btn-secondary"{
					border-radius:50%;
				}>Dislike</button></a>
			</div>
		</div>
	</div>

	

	<script src="/scripts/jquery/dist/jquery.js"></script>
	<script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/scripts/popper.js/dist/umd/popper.js"></script>
	<script src="/scripts/bootstrap-material-design/dist/js/bootstrap-material-design.js"></script>
	<script src="js/main.js"></script>
</body>

</html>