<html>

<head>
	<title>hApp</title>

	<link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/scripts/bootstrap-material-design/dist/css/bootstrap-material-design.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-light home-page">
	{{!-- Begin here (or replace this with any static code already written). --}}


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" style="text-align:center"><h1>hApp</h1></a>
		</div>
	</nav>

	<div class="container" style="text-align:center; padding-top: 12.5%">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<a href="/timeSelect"><button type="button" class="btn btn-lg btn-primary active">Search</button></a>
			</div>
		</div>
		<div class="row" style="padding-top:25px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<a href="wip"><button type="button" class="btn btn-lg btn-secondary active">Upload</button></a>
			</div>
		
		</div>
		<div class="row" style="padding-top:50px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<a href="wip"><button type="button" class="btn btn-lg btn-secondary active">
					<img src="/static/icons/history.svg" height="35"/>
				</button></a>
			</div>
		
		</div>
	</div>

	

	<script src="/scripts/jquery/dist/jquery.js"></script>
	<script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/scripts/popper.js/dist/umd/popper.js"></script>
	<script src="/scripts/bootstrap-material-design/dist/js/bootstrap-material-design.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>