<html>

<head>
	<title>hApp</title>

	<link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/scripts/bootstrap-material-design/dist/css/bootstrap-material-design.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-light home-page">
	{{!-- Begin here (or replace this with any static code already written). --}}

<!--
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" style="text-align:center"><h1>hApp</h1></a>
		</div>
	</nav>-->

	<div class="container" style="text-align:center; padding-top: calc(50vh - 243.5px); padding-bottom: calc(50vh - 243.5px)">
		<div class="login-box page-one">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<img src="https://statewideguttercompany.com/wp-content/uploads/2012/07/logo-placeholder.jpg" width="100px" height="100px">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<h1>hApp</h1>
				</div>
			</div>
			<div class="row login-row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<button type="button" class="btn btn-primary btn-lg active" id="signup">SIGN UP</button>
				</div>
			</div>
			<div class="row login-row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<button type="button" class="btn btn-secondary btn-lg active" id="login">LOG IN</button>
				</div>
			</div>
			<div class="row login-row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:5%; margin-bottom: 5%">
				OR
				</div>
			</div>
			
		    <p class="facebookLogin">
		    	Please login through Facebook
		    	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                 </fb:login-button>
            </p>
		</div>
	</div>

	

	<script src="/scripts/jquery/dist/jquery.js"></script>
	<script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/scripts/popper.js/dist/umd/popper.js"></script>
	<script src="/scripts/bootstrap-material-design/dist/js/bootstrap-material-design.js"></script>
	<script src="/static/js/main.js"></script>
	
</body>

</html>