<html>
<head>
	<title>Test Page</title>

	<link rel="stylesheet" href="/scripts/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
</head>
<body>
Begin here (or replace this with any static code already written).

<script src="/scripts/jquery/dist/jquery.js"></script>
<script src="/scripts/popper.js/dist/umd/popper.js"></script>
<script src="/scripts/bootstrap-material-design/dist/js/bootstrap-material-design.js"></script>
<script src="js/main.js"></script>
</body>
</html>
