.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;
}

.icon-size{
	width: 30;
	height: 30;
}

.btn-history{
	background-image:url(icons/history.svg) no-repeat center;
	background-width:16px;
	background-height:16px;
}

.inner
{
    display: inline-block;
}
#outer
{
    width:100%;
    text-align: center;
}
.crop {
    width: 100%;
    height:300;
    overflow: hidden;
}

.subtitle{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}
