.navbar{
    background-color: rgba(255,255,255,0.4) !important;
    height:15%;
}

.navbar-header {
    float: left;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;
}

.icon-size{
	width: 30;
	height: 30;
}

.btn-history{
	background-image:url(icons/history.svg) no-repeat center;
	background-width:16px;
	background-height:16px;
}

.inner
{
    display: inline-block;
}
#outer
{
    width:100%;
    text-align: center;
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:100px
}
.crop {
    width: 100%;
    height:300;
    overflow: hidden;
}

.login-box{
    background-color: rgba(255,255,255,0.8);
    width: 350px;
    max-width: 90vw;
    height: 487px;
    padding: 2em;
    border-radius: 0.25em;
    margin: auto;
}

.home-page{
    background-color: #000 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://static.pexels.com/photos/531880/pexels-photo-531880.jpeg");
}

.login-row{
    margin-top:2.5%;
    margin-bottom: 2.5%
}

.btn.btn-lg.active.btn-facebook{
    color:#FFF;
    background-color: #3B5998;
}

.btn.btn-lg.active.btn-facebook:hover{
    color: #3B5998;
    background-color: rgba(153, 153, 153, 0.4);
    border-color: rgba(153, 153, 153, 0.4);;
}

.btn.btn-lg.active.btn-google{
    color:#FFF;
    background-color: #DD4B39;
}

.btn.btn-lg.active.btn-google:hover{
    color: #DD4B39;
    background-color: rgba(153, 153, 153, 0.4);
    border-color: rgba(153, 153, 153, 0.4);
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 24px;
    line-height: 1.33;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.19);
    margin: 5px;
}
